<div [@routerTransition]>
  <app-page-header [heading]="'Nova Landpage'" [icon]="'fa-edit'"></app-page-header>
  <form (ngSubmit)="onSubmit($event, formulario)" #formulario="ngForm" novalidate>
    <div class="row">
      <div class="col-lg-6" style="text-transform: uppercase;">
        <h5>Informações gerais</h5>
        <hr />
        <fieldset class="form-group">
          <label>titulo do Site</label>
          <input class="form-control" id="titulo" type="text" [(ngModel)]="site.infos.titulo" name="titulo" />
        </fieldset>
        <fieldset class="form-group">
          <label for="exampleInputFileinstagram">Logo SITE</label>
          <input
            class="form-control-file"
            id="logo_site"
            accept="image/x-png,image/gif,image/jpeg"
            type="file"
            (change)="onFileChange($event, 6)"
            name="logo_dite"
          />
          <img
            [src]="site.infos.logo_site"
            *ngIf="site.infos.logo_site"
            style="height: 100%; width: 100%; max-width: 250px;"
          />
        </fieldset>
        <fieldset class="form-group">
          <label>sobre</label>
          <input class="form-control" id="about" type="text" [(ngModel)]="site.infos.sobre" name="sobre" />
        </fieldset>
        <fieldset class="form-group">
          <label>email</label>
          <input class="form-control" id="email" type="email" [(ngModel)]="site.infos.email" name="email" />
        </fieldset>
        <fieldset class="form-group">
          <label>telefone</label>
          <input class="form-control" id="telefone" type="tel" [(ngModel)]="site.infos.telefone" name="telefone" />
        </fieldset>
        <fieldset class="form-group">
          <label>whatsapp numero</label>
          <input
            class="form-control"
            id="whatsapp"
            type="tel"
            [(ngModel)]="site.redes_social.whatsapp"
            name="whatsapp"
          />
        </fieldset>
        <fieldset class="form-group">
          <label>candidato</label>
          <input class="form-control" id="candidato" type="text" [(ngModel)]="site.infos.candidato" name="candidato" />
        </fieldset>
        <fieldset class="form-group">
          <label>endereco completo</label>
          <input class="form-control" id="endereco" type="text" [(ngModel)]="site.infos.endereco" name="endereco" />
        </fieldset>
        <hr />
        <h5>Links da Atuação</h5>
        <hr />
        <fieldset class="form-group">
          <label>comissao</label>
          <input class="form-control" id="comissao" type="text" [(ngModel)]="site.atuacao.comissoes" name="comissao" />
        </fieldset>
        <fieldset class="form-group">
          <label>emendas</label>
          <input class="form-control" id="emendas" type="text" [(ngModel)]="site.atuacao.emendas" name="emendas" />
        </fieldset>
        <fieldset class="form-group">
          <label>noticias</label>
          <input class="form-control" id="noticias" type="text" [(ngModel)]="site.atuacao.noticias" name="noticias" />
        </fieldset>
        <fieldset class="form-group">
          <label>projetos</label>
          <input class="form-control" id="projetos" type="text" [(ngModel)]="site.atuacao.projetos" name="projetos" />
        </fieldset>
        <hr />
        <h5>Biografia do Candidato</h5>
        <hr />
        <fieldset class="form-group">
          <label>Texto da pagina sobre o candidato</label>
          <angular-editor
            [config]="editorConfig"
            [placeholder]="'Texto da pagina da biografia do candidato'"
            [(ngModel)]="site.biografia.texto_pagina"
            name="biografia_texto"
          ></angular-editor>
        </fieldset>
      </div>
      <div class="col-lg-6" style="text-transform: uppercase;">
        <h5>Bibiografia</h5>
        <hr />
        <fieldset class="form-group">
          <label>Texto biografia</label>
          <textarea
            class="form-control"
            id="biografia"
            type="text"
            [(ngModel)]="site.biografia.biografia"
            name="biografia"
          ></textarea>
        </fieldset>
        <fieldset class="form-group">
          <label for="exampleInputFilebiografia">Imagem Biografia</label>
          <input
            class="form-control-file"
            id="capa_bigrafia"
            accept="image/x-png,image/gif,image/jpeg"
            type="file"
            (change)="onFileChange($event, 1)"
            name="capa_bigrafia"
          />
          <img
            [src]="site.biografia.imagem_biografia"
            *ngIf="site.biografia.imagem_biografia"
            style="height: 100%; width: 100%; max-width: 250px;"
          />
        </fieldset>
        <hr />
        <h5>link e capas das Redes sociais</h5>
        <hr />
        <fieldset class="form-group">
          <label>facebook</label>
          <input
            class="form-control"
            id="facebook"
            type="text"
            [(ngModel)]="site.redes_social.facebook"
            name="facebook"
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="exampleInputFileFacebook">Capa Facebook</label>
          <input
            class="form-control-file"
            id="capa_facebook"
            accept="image/x-png,image/gif,image/jpeg"
            type="file"
            (change)="onFileChange($event, 2)"
            name="capa_facebook"
          />
          <img
            [src]="site.redes_social.capa_facebook"
            *ngIf="site.redes_social.capa_facebook"
            style="height: 100%; width: 100%; max-width: 250px;"
          />
        </fieldset>
        <hr />
        <fieldset class="form-group">
          <label>youtube</label>
          <input class="form-control" id="youtube" type="text" [(ngModel)]="site.redes_social.youtube" name="youtube" />
        </fieldset>

        <fieldset class="form-group">
          <label for="exampleInputFileyoutube">Capa youtube</label>
          <input
            class="form-control-file"
            id="capa_youtube"
            accept="image/x-png,image/gif,image/jpeg"
            type="file"
            (change)="onFileChange($event, 5)"
            name="capa_youtube"
          />
          <img
            [src]="site.redes_social.capa_youtube"
            *ngIf="site.redes_social.capa_youtube"
            style="height: 100%; width: 100%; max-width: 250px;"
          />
        </fieldset>
        <hr />
        <fieldset class="form-group">
          <label>twitter</label>
          <input class="form-control" id="twitter" type="text" [(ngModel)]="site.redes_social.twitter" name="twitter" />
        </fieldset>
        <fieldset class="form-group">
          <label for="exampleInputFiletwitter">Capa twitter</label>
          <input
            class="form-control-file"
            id="capa_twitter"
            accept="image/x-png,image/gif,image/jpeg"
            type="file"
            name="capa_twitter"
            (change)="onFileChange($event, 4)"
          />
          <img
            [src]="site.redes_social.capa_twitter"
            *ngIf="site.redes_social.capa_twitter"
            style="height: 100%; width: 100%; max-width: 250px;"
          />
        </fieldset>
        <hr />
        <fieldset class="form-group">
          <label>Instagram</label>
          <input
            class="form-control"
            id="instagram"
            type="text"
            [(ngModel)]="site.redes_social.instagram"
            name="instagram"
          />
        </fieldset>
        <fieldset class="form-group">
          <label for="exampleInputFileinstagram">Capa instagram</label>
          <input
            class="form-control-file"
            id="capa_instagram"
            accept="image/x-png,image/gif,image/jpeg"
            type="file"
            (change)="onFileChange($event, 3)"
            name="capa_instagram"
          />
          <img
            [src]="site.redes_social.capa_instagram"
            *ngIf="site.redes_social.capa_instagram"
            style="height: 100%; width: 100%; max-width: 250px;"
          />
        </fieldset>
      </div>
      <div class="col-lg-6">
        <button type="submit" class="btn btn-primary">
          Save
        </button>
      </div>
      <!-- <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                    <label>Text Input</label>
                    <input class="form-control" />
                    <p class="help-block">Example block-level help text here.</p>
                </fieldset>

                <fieldset class="form-group">
                    <label>Text Input with Placeholder</label>
                    <input class="form-control" placeholder="Enter text" />
                </fieldset>

                <div class="form-group">
                    <label>Static Control</label>
                    <p class="form-control-static">email@example.com</p>
                </div>

                <fieldset class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input class="form-control-file" id="exampleInputFile" type="file" />
                </fieldset>

                <fieldset class="form-group">
                    <label>Text area</label>
                    <textarea class="form-control" rows="3"></textarea>
                </fieldset>

                <div class="form-group">
                    <label>Checkboxes</label>
                    <div class="checkbox">
                        <label> <input type="checkbox" value="" /> Checkbox 1 </label>
                    </div>
                    <div class="checkbox">
                        <label> <input type="checkbox" value="" /> Checkbox 2 </label>
                    </div>
                    <div class="checkbox">
                        <label> <input type="checkbox" value="" /> Checkbox 3 </label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Inline Checkboxes</label>
                    <label class="checkbox-inline"> <input type="checkbox" />1 </label>
                    <label class="checkbox-inline"> <input type="checkbox" />2 </label>
                    <label class="checkbox-inline"> <input type="checkbox" />3 </label>
                </div>

                <fieldset class="form-group">
                    <label>Radio Buttons</label>
                    <div class="radio">
                        <label>
                            <input checked="" id="optionsRadios1" name="optionsRadios" type="radio" value="option1" />
                            Radio 1
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input id="optionsRadios2" name="optionsRadios" type="radio" value="option2" /> Radio 2
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input id="optionsRadios3" name="optionsRadios" type="radio" value="option3" /> Radio 3
                        </label>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label>Inline Radio Buttons</label>
                    <label class="radio-inline">
                        <input
                            checked=""
                            id="optionsRadiosInline1"
                            name="optionsRadiosInline"
                            type="radio"
                            value="option1"
                        />1
                    </label>
                    <label class="radio-inline">
                        <input id="optionsRadiosInline2" name="optionsRadiosInline" type="radio" value="option2" />2
                    </label>
                    <label class="radio-inline">
                        <input id="optionsRadiosInline3" name="optionsRadiosInline" type="radio" value="option3" />3
                    </label>
                </fieldset>

                <div class="form-group">
                    <label>Selects</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <fieldset class="form-group">
                    <label>Multiple Selects</label>
                    <select class="form-control" multiple="">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </fieldset>

                <button class="btn btn-secondary" type="submit">Submit Button</button>
                <button class="btn btn-secondary" type="reset">Reset Button</button>
            </form>
        </div>
        <div class="col-lg-6">
            <h4>Disabled Form States</h4>

            <form role="form">
                <fieldset disabled="">
                    <div class="form-group">
                        <label for="disabledSelect">Disabled input</label>
                        <input
                            class="form-control"
                            disabled=""
                            id="disabledInput"
                            placeholder="Disabled input"
                            type="text"
                        />
                    </div>

                    <div class="form-group">
                        <label for="disabledSelect">Disabled select menu</label>
                        <select class="form-control" id="disabledSelect">
                            <option>Disabled select</option>
                        </select>
                    </div>

                    <div class="checkbox">
                        <label> <input type="checkbox" /> Disabled Checkbox </label>
                    </div>

                    <button class="btn btn-primary" type="submit">Disabled Button</button>
                </fieldset>
            </form>
            <br />

            <h4>Form Validation</h4>

            <form role="form">
                <div class="form-group">
                    <label class="form-control-label" for="inputSuccess">Input with success</label>
                    <input class="form-control is-valid" id="inputSuccess" type="text" />
                    <div class="valid-feedback">
                        Input success message
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="inputError">Input with danger</label>
                    <input class="form-control is-invalid" id="inputError" type="text" />
                    <div class="invalid-feedback">
                        Input error message
                    </div>
                </div>
            </form>

            <h4>Input Groups</h4>

            <form role="form">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <span class="input-group-addon">@</span>
                    <input class="form-control" placeholder="Username" type="text" />
                </div>

                <div class="form-group input-group">
                    <input class="form-control" type="text" />
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-eur"></i></span>
                    </div>
                    <input class="form-control" placeholder="Font Awesome Icon" type="text" />
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input class="form-control" type="text" />
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="form-group input-group">
                    <input class="form-control" type="text" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>

            <p>
                For complete documentation, please visit
                <a href="https://getbootstrap.com/docs/4.0/components/forms/" target="_blank"
                    >Bootstrap's Form Documentation</a
                >.
            </p>
        </div> -->
    </div>
    <!-- /.row -->
  </form>
</div>
